* {
    margin: 0;
    padding: 0;
}

.header_wrapper {
    width: 100%;
    min-height: 800px;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.header {
    width: 85%;
    margin: 0 auto;
    min-height: 800px;
}

.header_wrapper .style_nav {
    background-color: transparent;
    border: 0px solid;
    padding-top: 25px;
}

.header_wrapper .style_nav .style_right_nav li a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    transition: 2s;
}

.header_wrapper .style_nav .style_right_nav li a:hover {
    color: #a0ce4e;
    font-family: 'Open Sans', sans-serif;
}

.header_title {
    width: 85%;
    margin: 0 auto;
    min-height: 250px;
    padding-top: 180px;
}

.welcome {
    overflow: hidden;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.welcome span {
    color: #a0ce4e;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.work {
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.learn_more_button {
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #a0ce4e;
    padding: 7px 45px;
    font-size: 10px;
    transition: 2s;
}

.learn_more_button:hover {
    background-color: #a0ce4e;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #a0ce4e;
    padding: 7px 45px;
    font-size: 10px;
}

.learn_more {
    padding-bottom: 20px;
}

.optimized_body_wrapper {
    width: 100%;
    min-height: 200px;
    background-image: url("../img/background-2.jpg");
}

.optimized_title_wrapper {
    width: 85%;
    margin: 0 auto;
}

.optimized_title {
    float: right;
    padding-top: 30px;
}

.optimized_title >h3 {
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.optimized_title >p {
    color: white;
    float: right;
    font-family: 'Open Sans', sans-serif;
}

.start_now {
    clear: both;
}

.start_now a {
    float: right;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-left: 2px solid #a0ce4e;
    border-right: 2px solid #a0ce4e;
    border-bottom: 2px solid #a0ce4e;
    padding: 7px 45px;
    font-size: 10px;
    transition: 2s;
}

.start_now a:hover {
    float: right;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid #a0ce4e;
    padding: 7px 45px;
    font-size: 10px;
    transition: 2s;
    text-decoration: none;
}

.physical_rule_wrapper {
    width: 100%;
    min-height: 300px;
}

.physical_rule {
    width: 85%;
    margin: 0 auto;
}

.phusical_item {
    text-align: center;
    padding-top: 30px;
}

.short_des h3 {
    font-family: 'Open Sans', sans-serif;
    color: #a0ce4e;
    font-weight: bold;
}

.long_des p {
    color: #12283e;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.body_sample_wrapper {
    width: 100%;
    min-height: 350px;
}

.body_sample {
    width: 85%;
    margin: 0 auto;
}

.body_image img {
    width: 100%;
    padding-bottom: 20px;
}

.three_points {
    width: 100%;
    min-height: 100px;
    text-align: center;
    padding-bottom: 20px;
}

.three_points h3 {
    color: #838383;
    font-family: 'Open Sans', sans-serif;
}

.three_points p {
    color: #838383;
    font-family: 'Open Sans', sans-serif;
}

.media-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}


/* Previous button  */

.media-carousel .carousel-control.left {
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width: 40px;
    margin-top: 160px
}


/* Next button  */

.media-carousel .carousel-control.right {
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width: 40px;
    margin-top: 160px
}


/* Changes the position of the indicators */

.media-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -18px;
}


/* Changes the colour of the indicators */

.media-carousel .carousel-indicators li {
    background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
    background: #333333;
}

.media-carousel img {
    width: 100%;
    height: 100px
}


/* End carousel */

.slider {
    width: 85%;
    margin: 0 auto;
}

.thumbnail img {
    min-height: auto;
    border-bottom: 3px solid #f34a4a;
}

.fully_responsive_wrapper {
    width: 85%;
    margin: 0 auto;
    min-height: 700px;
}

.responsive_item {
    text-align: center;
    padding-top: 50px;
}

.responsive_image {
    width: 50%;
    margin: 0 auto;
}

.responsive_image img {
    width: 100%;
    margin: 0 auto;
}

.responsive_title {
    padding-top: 30px;
}

.responsive_title>h3 {
    color: #12283e;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.responsive_title>h6 {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.responsive_title>p {
    color: #8b8b8b;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.color_border {
    width: 50%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.border_1 {
    border: 2px solid #a0ce4e;
    width: 30%;
    float: left;
}

.border_2 {
    border: 2px solid #014f93;
    width: 30%;
    float: left;
}

.border_3 {
    border: 2px solid #f34a4a;
    width: 25%;
    float: left;
}

.border_4 {
    border: 2px solid #00bff3;
    width: 15%;
    float: left;
}

.women_men_wrapper {
    width: 100%;
    min-height: 600px;
    background-image: url("../img/2ndpartbackground.png");
    background-size: cover;
}

.women_men {
    width: 85%;
    margin: 0 auto;
}

.women {
    width: 25%;
    padding-top: 30px;
}

.women h3 {
    color: white;
    padding-bottom: 25px;
    font-weight: bold;
}

.women p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 25px;
}

.women a {
    border: 1px solid white;
    padding: 7px 45px;
    font-size: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    transition: 2s;
}

.women a:hover {
    background-color: #a0ce4e;
    text-decoration: none;
    border: 1px solid #a0ce4e;
    padding: 7px 45px;
    font-size: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.men {
    width: 25%;
    float: right;
    padding-top: 100px;
}

.men h3 {
    color: #0b3e6e;
    padding-bottom: 25px;
    font-weight: bold;
}

.men p {
    color: #0b3e6e;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 25px;
}

.men a {
    border: 1px solid #0b3e6e;
    padding: 7px 45px;
    font-size: 10px;
    color: #0b3e6e;
    font-family: 'Open Sans', sans-serif;
    transition: 2s;
}

.men a:hover {
    background-color: #0b3e6e;
    text-decoration: none;
    border: 1px solid #0b3e6e;
    padding: 7px 45px;
    font-size: 10px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.tools {
    width: 85%;
    margin: 0 auto;
    min-height: 400px;
}

.tools_image {
    padding-top: 100px;
}

.tools_image img {
    padding-bottom: 20px;
    text-align: center;
}

.latest_tweets_wrapper {
    width: 100%;
    min-height: 300px;
    background-image: url("../img/latest_background.png");
    background-size: cover;
    background-attachment: fixed;
}

.latest_item {
    text-align: center;
    padding-top: 60px;
}

.latest_item h3 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: bold;
}

.latest_item p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 38%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.latest_item a {
    font-size: 10px;
    border: 1px solid #a0ce4e;
    padding: 5px 35px;
    background-color: #a0ce4e;
    font-family: 'Open Sans', sans-serif;
    color: white;
    transition: 2s;
}

.latest_item a:hover {
    text-decoration: none;
    font-size: 10px;
    border: 1px solid #a0ce4e;
    padding: 5px 35px;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.follow {
    padding-bottom: 20px;
}

.social_icon_wrapper {
    width: 100%;
    min-height: 200px;
    background-color: #a0ce4e;
    border-bottom: 3px solid white;
    box-sizing: border-box;
}

.social_icon {
    width: 25%;
    margin: 0 auto;
}

.social_image {
    padding-bottom: 15px;
}

.social_icon {
    padding-top: 100px;
}

.footer_wrapper {
    width: 100%;
    min-height: 500px;
    background-color: #a0ce4e;
}

.footer {
    width: 85%;
    margin: 0 auto;
    min-height: 500px;
    padding-top: 50px;
}

.short_descrip p {
    font-family: 'Open Sans', sans-serif;
    color: #1f4b6e;
    padding-top: 30px;
}

.long_descrip p {
    font-family: 'Open Sans', sans-serif;
    color: #1f4b6e;
    padding-top: 20px;
    padding-bottom: 20px;
}

.input_type {
    width: 100%;
    min-height: 50px;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid white;
}

.newsletter h3 {
    color: #1f4b6e;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.newsletter p {
    color: #1f4b6e;
    font-family: 'Open Sans', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contacts {
    font-family: 'Open Sans', sans-serif;
}

.contacts h5 {
    padding-top: 15px;
    color: #1f4b6e;
    font-weight: bold;
}

.contacts p {
    color: #1f4b6e;
    padding-top: 25px;
}

.information i {
    color: white;
    padding-right: 10px;
}

.information h5 {
    color: #1f4b6e;
    font-weight: bold;
    padding-top: 20px;
}

.information h5 span {
    color: white;
    font-weight: normal;
    padding-left: 10px;
}

:-moz-placeholder {
    color: white;
    font-size: 18px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
}

:-ms-placeholder {
    color: white;
    font-size: 18px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-input-placeholder {
    color: white;
    font-size: 15px;
    padding-left: 26px;
    font-family: 'Open Sans', sans-serif;
}

::-moz-placeholder {
    padding-left: 10px;
    color: white;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.form_group {
    padding-bottom: 20px;
}

.send_button {
    margin-top: 20px;
    background-color: #1F4B6E;
    border: 1px solid #1F4B6E;
    color: white;
    padding: 10px 35px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.copy_right {
    width: 100%;
    min-height: 60px;
    background-color: #1F4B6E;
}

.copy {
    width: 85%;
    margin: 0 auto;
}

.copy_right_title p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
}

@media only screen (min-width: 668px) and (max-width: 992px) {
    .welcome {
        overflow: hidden;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .welcome {
        overflow: hidden;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
}